[submodule "backend"]
	path = backend
	url = git@github.com:rodrigocichetto/bootcamp-gostack-desafio-03.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/rodrigocichetto/bootcamp-gostack-desafio-09
[submodule "mobile"]
	path = mobile
	url = https://github.com/rodrigocichetto/bootcamp-gostack-desafio-10
